.cart-area {
  padding: 1rem;
  padding-bottom: 0;
  // background-color: #EADBC4;
  border-radius: .3rem;
  width: max-content;
}

.customize-value {
  font-size: 24px;
}

.traffic-content {
  width: 10rem;
}

.footer {
  color: white;
  border-radius: 0 0 4px 4px;
  background-color: #006454;
}