<div class="cart-area">
  <mat-card>
    <mat-card-header>
      <mat-card-title>プランA</mat-card-title>
      <mat-card-subtitle>車両台数:100</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="d-flex flex-column">
        <div class="p-2">
          <div id="pattern-1"></div>
        </div>
        <div class="d-flex">
          <div class="traffic-content d-flex flex-column align-items-center">
            <div>通信網別</div>
            <!-- <mat-icon>settings_applications</mat-icon> -->
            <div class="d-flex">
              <div class="d-flex flex-column mr-2 align-items-center">
                <div class="customize-title">国内</div>
                <div class="d-flex align-items-end">
                  <div class="customize-value mr-1">10</div>
                  <div class="customize-unit">MB</div>
                </div>
              </div>
              <div class="d-flex flex-column align-items-center">
                <div class="customize-title">ローミング</div>
                <div class="d-flex align-items-end">
                  <div class="customize-value mr-1">40</div>
                  <div class="customize-unit">MB</div>
                </div>
              </div>
            </div>
          </div>
          <div class="traffic-content d-flex flex-column align-items-center">
            <div>カスタマイズ</div>
            <!-- <mat-icon>settings_applications</mat-icon> -->
            <div class="d-flex">
              <div class="d-flex flex-column mr-4 align-items-center">
                <div class="customize-title">システム</div>
                <div class="d-flex align-items-end">
                  <div class="customize-value mr-1">10</div>
                  <div class="customize-unit">MB</div>
                </div>
              </div>
              <div class="d-flex flex-column align-items-center">
                <div class="customize-title">ユーザ</div>
                <div class="d-flex align-items-end">
                  <div class="customize-value mr-1">40</div>
                  <div class="customize-unit">MB</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer class="d-flex justify-content-around footer">
      <button mat-icon-button>
        <mat-icon>multiline_chart</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>directions_car</mat-icon>
      </button>
    </mat-card-footer>
  </mat-card>
</div>