<mat-card>
  <!-- <mat-card-header>
    <mat-card-title>プランA</mat-card-title>
    <mat-card-subtitle>車両台数 : 100</mat-card-subtitle>
  </mat-card-header> -->
  <mat-card-content>
    <div class="">
      <div class="p-2">
      </div>
      <div class="d-flex flex-column">
        <div>カスタマイズ</div>
        <!-- <mat-icon>settings_applications</mat-icon> -->
        <div class="d-flex flex-column">
          <div class="customize-title">システム</div>
          <div class="d-flex align-items-end">
            <div class="customize-value mr-1">10</div>
            <div class="customize-unit">MB</div>
          </div>
        </div>
        <div class="d-flex flex-column">
          <div class="customize-title">ユーザ</div>
          <div class="d-flex align-items-end">
            <div class="customize-value mr-1">40</div>
            <div class="customize-unit">MB</div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>