/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
  // width: fit-content;
}

.value-label:first-of-type {
  border-bottom: solid 1px #000000;
}
